<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  

</head>
<body>

<nav class="navbar"  >
  <div class="container-fluid">
    <div class="navbar-header">
      <b><a class="navbar-brand" style="font-size: 22px;"href="#">S Ishvarya</a></b>
    </div>
    <b>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#about">About Me</a></li>
      <li><a href="#resume">Resume</a></li>
      <li><a href="#achievements">Achievements</a></li>
      <li><a href="#contact">Contact Me</a></li>
    </ul>
    </b>
  </div>
</nav>
<div id="home" class="slider-container">
  <div class="slider">
  <img src="../assets/img1.jpg" alt="Image 1" class="moving-image">
  <img src="../assets/img2.jpg" alt="Image 2" class="moving-image">
  <img src="../assets/img3.jpg" alt="Image 3" class="moving-image">
  </div>
</div>
<br>

<div class="titleabout" id="about" >About Me</div>
<div class="about-me" >
  <img src="../assets/profile.jpg" alt="Profile Picture">
  <div class="about-me-content">
    <h4>
    <p>Hello! This is  Ishvarya. I'm a person with great passion in programming and I am constantly looking for new ways to learn and improve my skills.</p>
    <p>One area that particularly excites me is Computer Vision and Machine Learning. I find immense fascination in this domain because of its potential to transform the way we perceive and interact with technology.</p>
    <p>In terms of programming languages, I am proficient in Python, Java, and MySQL. </p>
    <p>One of my significant achievements is the development of a Dental Hand Gesture Recognizer, which I presented at a PROJECT EXPO organized by the IIT Madras Research Park. Furthermore, this project was also featured at the prestigious 12th International Conference for Problem Solving and Soft Computing (SOCPROS 2023), enhancing its recognition and impact.</p>
    <p>Beyond academics and technology, I hold a diploma in Tailoring, which is one of my favorite hobbies. I take immense pride in designing and stitching all my dresses.</p>
    <p>In my personal philosophy, I firmly believe that dedicated hard work coupled with self-discipline paves the way to success. I am known for my sincerity and dedication. My core strengths include leadership and problem-solving skills, and I am always eager to take on new challenges and strive for excellence.</p>
    </h4>
  
  </div>
</div>

<div class="titleabout" id="resume">Resume</div>
<div class="resume-container">
  <iframe src="../assets/resume.pdf" class="resume-iframe" frameborder="0" height="650px"></iframe>
</div>
<div class="button-container">
  <button class="btn btn-primary">
      <a href="../assets/resume.pdf" class="download-link" download>Download Resume</a>
  </button>
</div>

<div class="titleabout" id="achievements" >Achievements</div>
 <br><br>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let achievement of achievements">
      <div class="card mb-4">
        <img src="{{ achievement.image }}" class="card-img-top" alt="Achievement Image">
        <div class="card-body">
          <p class="card-text">{{ achievement.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="titleabout" id="contact" >Contact Me</div>

  <div class="footer" style="color:whitesmoke;">
 
    <a id="appp" href="mailto:ishvaryasathya@gmail.com" class="btn btn-outline-light btn-sm mr-2">
      <i class="fa fa-envelope"></i> Email</a>
    
    <a id="appp" href="https://www.linkedin.com/in/ishvarya-s-81bab0233" class="btn btn-outline-light btn-sm" target="_blank">
      <i class="fa fa-linkedin"></i> LinkedIn</a>
   
  </div>


</body>
</html>
